
<div class="container">
   
    <div class="principal">
        <div class="nombre">
            {{recetapulsada.nombre}}
   </div>    
   
      
   <div class="div_foto">
    
        
        
    <img class="estilofoto"[src]=recetapulsada.foto> 
    <div >
        <h3><span style="border-bottom: 2px solid;">Ingredientes</span></h3>
        <h6>{{recetapulsada.ingredientes}}.    
                                           
        </h6>
    </div>
    <h4><span style="border-bottom: 2px solid;">Detalles</span></h4>
    <p style="color: black;" >    
         Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores doloribus natus aspernatur sunt minus, tempore facilis itaque aliquid adipisci officia animi eaque sed veniam impedit placeat ratione sit eveniet praesentium.
    Ea, eveniet ab. Rem veniam corporis quod odio repellat sapiente ut veritatis dolorum voluptatem, et inventore delectus nobis tenetur obcaecati laudantium totam ea officiis? Expedita beatae illo doloremque. Voluptatibus, eaque!
    Debitis voluptatem voluptatum, hic pariatur quisquam consequuntur reprehenderit neque eos, obcaecati ducimus quos perspiciatis placeat. Doloremque asperiores alias et expedita sequi molestias eius harum qui quasi, ipsa veritatis corrupti tempore.
    Quam non deserunt et quibusdam, Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consequatur cupiditate ipsum quam quia, vel ullam ipsa amet mollitia corrupti, ea ad perferendis odit animi ut modi. Reiciendis maxime ea quos.
    Quisquam reiciendis a consectetur enim facere quibusdam ullam eum nulla eligendi iusto quia eos, laudantium doloribus at dignissimos? Tenetur voluptatem laborum magni quidem, totam molestias odio sapiente voluptate vel enim.
    Dolore neque deleniti cum explicabo asperiores soluta in perspiciatis nihil veniam nostrum? Distinctio ipsam deleniti esse blanditiis suscipit dignissimos cupiditate illum atque autem? Earum ex repudiandae, alias soluta distinctio sunt.
    Obcaecati vel modi nulla, dignissimos corporis ab. Fugiat, placeat. Veniam, atque! Dolore aliquam consequuntur cupiditate fugit aperiam eos excepturi non accusantium! Modi, harum laudantium in assumenda repellat voluptatem quod! Nostrum.
    Porro similique consectetur nulla ratione. Aperiam autem odio quaerat debitis, tempora est veritatis laudantium quia cum beatae nesciunt eaque voluptates corrupti deleniti et architecto unde commodi iste totam magnam. Sit.
    Corrupti eum quia ullam maiores nulla obcaecati nam eaque voluptatem beatae officiis accusamus culpa blanditiis quod minima tempore amet dolorum, cumque, impedit numquam nostrum. Voluptatum ullam cumque sit tempora iste!
    Id commodi a eaque, repellendus tenetur optio aut. Saepe alias, odio minus itaque, doloremque rem aspernatur voluptatem quibusdam corrupti ipsum aut. Delectus facere aspernatur natus mollitia quis dolore eaque tempora?
    Eligendi numquam voluptatem ea et voluptatum cumque quaerat id odio sequi natus aperiam cum quod repudiandae asperiores illum dicta obcaecati quae, libero doloremque nisi iure hic ex autem vel! Dolorem?
    Nemo quaerat, iusto nam iure, culpa atque et blanditiis assumenda tenetur soluta veritatis. Ducimus voluptate eos aliquam dolor quae beatae explicabo accusamus eligendi architecto eius, molestias similique facere expedita doloremque!
    Illum facere repellendus, illo modi, quos sint animi, praesentium dolore eveniet odit iure quo! Illo sed, earum explicabo minima beatae quasi vero! Labore unde ut molestias tempora magni vitae eligendi. laborum enim at ducimus maiores doloremque, ullam blanditiis quae ab! Consequuntur odio magni aperiam eaque labore est fugiat iste iusto explicabo voluptatibus corporis, qui alias.
    Officia est totam a cumque eveniet excepturi quasi esse recusandae libero veniam ipsa laudantium, placeat veritatis velit adipisci quae, ad nisi ducimus. Animi quisquam odit voluptas dolores cum sapiente. Voluptates! </p>
   </div> 


    </div>
</div>