 <div class="principal"> 
 <div class="paraflex">
    
 
<div class="card" style="width: 18rem; margin: 50px;height: 400px;width: 500px;">
    <img src="./assets/insta.jpg" class="card-img-top" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="margin-left:20px ;color: black;">Instagram</h5>
      <p class="card-text" style="color: black;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
     
    
    </div>
  </div>
  <div class="card" style="width: 18rem;margin: 50px;height: 400px;width: 500px;">
    <img src="./assets/face.jpg" class="card-img-top"  alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="margin-left:20px ;color: black;">Facebook</h5>
      <p class="card-text" style="color: black;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
    
    </div>
  </div><div class="card" style="width: 18rem; margin: 50px;height: 400px;width: 500px;">
    <img src="./assets/maxresdefault.jpg" class="card-img-top"  alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title" style="margin-left:20px ;color: black;">Twiter</h5>
      <p class="card-text" style="color: black;">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      
    
    </div>
  </div>
 </div>
 
</div>
