<div class="principal">

  
<div class="container" style="margin-top: 50px;"><app-recetas *ngFor="let receta of recetas ,let i=index" [recetah]="receta" [i]="i"></app-recetas></div>


<div class="card" >
  <img class="card-img-top" src="./assets/Imagendefondo.jpg" alt="">
  <div class="card-body" style="background-color: rgb(6, 6, 6);color: white;">
    <h5 class="card-title">Visita nuestra cafeteria</h5>
    <p class="card-text">Solo aquí podras disfrutar en familia de un ambiente natural,comodo y...Sabrosooo! </p>
    <button  class="btn btn-primary" style="background-color:whitesmoke;border-color: white;color: black;" disabled="true">TE ESPERAMOS!!!</button>
  </div>
</div>


</div>